body{
     background-color: 	#232b2b; 
     color: blanchedalmond;
    /* background-color: 	#494d5f; */
    /* background-color:#e1b382 */
}
 .table{
    color: blanchedalmond;
} 
.key:hover{
    font-size: 125%;
}
